/* FAQSection.css */
.faqs{
    position: relative;
}
.faq_section {
  font-family: 'Josefin Sans', sans-serif; 
  background: #ffffff;
  padding: 100px 0;
  position: relative;
 
}
.faq_line {
  position: absolute;
 left: 44.5%;
 top: 9%;
}

.faq_heading {
  font-size: 40px;
  line-height: 32px;
  margin-bottom: 50px;
  text-align: center;
}


.faq_item {
  width: 58%;
  margin: auto;
  margin-bottom: 2rem;
  position: relative;
}
.faq_details {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.question {
  display: inline-block;
  color: #141414;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  
}
.faq_item:before{
  content: "";
  position: absolute;
  bottom: -2px;
right: 2%;
width: 91%;
  
  border: 1px solid #D6D6D6;
}

.answer {
  display: block;
  font-size: 16px;
  line-height: 32px;
  width: 90%;
  margin: auto;
  margin-left: 5rem;
}

.icon {
  
  font-size: 40px;
  font-weight: 500;
}
.faq_vec1{
    position: absolute;
    top: 0;
    left: 0;
  
}
.faq_vec2{
    position: absolute;
    bottom: 0;
    right: 0;
  
}

 /* ******mobile responsiveness ****** */
 @media screen and (max-width: 768px) {
  .faq_line{
    top: 6.5%;
    left: 33%;
  }
  .question{
    font-size: 14px;
    /* width: 100%; */
  }
  .answer{
    font-size: 12px;
    margin: auto;
    
  
  }
  .faq_item{
    width: 100%;

  }
  .faq_item:before{
    /* width: 100%;
    left: 0; */
    /* right: 5%; */
  }
  .icon{
    font-size: 40px;
    padding: 10px;
  }
 
 }

 @media screen and (max-width: 400px) {
  
  .faq_item{
    width: 100%;

  } 
  /* .faqs{
    overflow: hidden;
  } */
  
  /* .faq_item:after{
    width: 80%;
    right: 5%;
  } */
  .faq_line{
    top: 7%;
    left: 33%;
  }

.faq_details{
    margin-right: 5px;
 }
 .faq_heading{
  font-size: 35px;
 }
 }
