.footer{
    background: #ffffff;
    padding-top: 10%;
    position: relative;
}

.footer_container{
    
    display: flex;
    
}

.footer_socials{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    justify-content: flex-start;
   align-items: left;
    /* justify-content: center;
    align-items: center;
    margin-top: 20px; */
}
.social_media{
    padding: 10px;
    display: flex;
    gap: 20px;
}
.social_media_links{
font-size: 20px;
color: #141414;
}
.footer_sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 20px; */
    column-gap: 20px;

}
.footer_heading{
    font-size: 16px;
line-height: 24px;
padding: 10px 0;
}
.footer_list{
    list-style: none;
    font-size: 16px;
line-height: 24px;
width: 200px;
font-family: 'Josefin Sans', sans-serif;
}
.footer_list > li{
   width: 150px
}  
.footer_bottom{
    padding: 30px;
    text-align: right;
} 

.footer_bg1{
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_bg2{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* *******mobile responsiveness******* */

@media screen and (max-width: 768px) {
   
    .footer_container{
        display: flex;
        flex-direction: column;
    }
    .footer_sec{
        display: grid;
        grid-template-columns: repeat(2, 180px);
        /* padding: 0 10px; */
        row-gap: 20px; 
        column-gap: 0px;
        padding-left: 30px;
    
    }
    .footer_socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* margin: 0; */
    }
    .social_media_links{
        font-size: 16px;
    }
    .logo_black img{
       width: 120px;
    }
    .footer_heading{
        font-size: 14px;
    }
    .footer_list{
        font-size: 12px;
    }
    .footer_bottom{
        text-align: center;
        font-size: 10px;
    }
}
